.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.aaa{
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#navbarNav ul li {
  margin-right: 20px;
}

#navbarNav ul li login {
  text-align: right;
}

h1 {
  text-align: center;
}

.main-container {
  width: 100%;
}

.form-register {
  padding: 10px;
  margin-left: 25%;
  margin-right: 15%;
}

.btn-center {
  margin-left: 40%;
  margin-right: 50%;
  width: 100px;
}

.active-purple-2 input.form-control[type='text']:focus:not([readonly]) {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}
.active-purple input.form-control[type='text'] {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}

.dropdown-heading-value {
  overflow: hidden;
  max-width: 250px;
  min-width: 150px;
}

#error-text {
  color: red;
  font-weight: bold;
}

.account-created-text {
  display: block;
  color: green;
  font-weight: bold;
  font-size: 20px;
  margin-top: 100px;
  margin-left: 25%;
  margin-right: 25%;
}

.btn-circle {
  background-color: whitesmoke !important;
  width: 30px;
  height: 30px;
  padding: 2px !important;
  border-radius: 50% !important;
}

.share-cell {
  display: flex !important;
}

.img-wrapper {
  position: relative;
  
  text-align: center;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.img-overlay {
  position: absolute;
  top: 20;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 50%;
}

.netflix-container {
  display: flex;
  padding: 0 55px;
}

.netflix-item {
  background: green;
  flex: 0 0 19.7%;
  text-align: center;
  margin: 0 2px;
  transition: transform 300ms ease 100ms;
}

.netflix-container:hover .netflix-item {
  transform: translateX(-25%);
}

.netflix-item:hover ~ .netflix-item {
  transform: translateX(25%);
}

.netflix-item:hover {
  transform: scale(1.5) !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
