body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cardView {
  display: grid;
  flex-wrap: wrap;
}

.cardImg {
  width: 100%;
  height: 9rem;
  object-fit:contain;
}

.review {
  display:flex;
  justify-content: center;
  align-items: center;
}

.btn {
  flex: 1;
}

.line {
  border: none;
}

.banner {
  max-height: 420.488px;
  object-fit: cover;
}

.removeBtn {
  position: absolute;
  top: 0;
  left: 0;
}

.storeImg {
  width: 10rem;
  object-fit: contain;
}

.card {
  max-height: 420.488;
}
/*
#dealsTable {
  width: 65%;
}
*/

.btnColour {
  color: blue;
}

.submitBtn {
  margin-bottom: 20px;
}

#likeColour:hover{
  text-decoration: none;
}

.submitForm {
  padding-top: 10px;
}

#submitBtn {
  margin-right: 15px;
}

#commentsRow {
  padding-bottom: 100px;
}

@media (min-width: 0) {
  .g-mr-15 {
      margin-right: 1.07143rem !important;
  }
}
@media (min-width: 0){
  .g-mt-3 {
      margin-top: 0.21429rem !important;
  }
}

.g-height-50 {
  height: 50px;
}

.g-width-50 {
  width: 50px !important;
}

@media (min-width: 0){
  .g-pa-30 {
      padding: 2.14286rem !important;
  }
}

#commentTxt {
  word-wrap: break-word;
}

.g-bg-secondary {
  background-color: #f0f0f0 !important;
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  white-space: normal;
}

.u-shadow-v18 {
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
  color: #777 !important;
}

.g-font-size-12 {
  font-size: 0.85714rem !important;
}

.media-comment {
  margin-top:20px
}


#badge {
  font-size: small;
}

.fa-heart-o {
  color: red;
  cursor: pointer;
}

.fa-heart {
  color: red;
  cursor: pointer;
}

.fa-bell-slash {
  color: black;
  cursor: pointer;
}
.fa-bell-on {
  color: black;
  cursor: pointer;
}